<div class="container">
    <form>
        <div class="form-control">
            <label for="text">Your Name</label>
            <input type="text" name="text" id="text" placeholder="Add Name" />
        </div>
        <div class="form-control">
            <label for="text">Your Email</label>
            <input type="text" name="text" id="text" placeholder="Add Email" />
        </div>
        <div class="form-control">
            <label for="text">Your message</label>
            <input type="text" name="text" id="text" placeholder="Add Message" />
        </div>
        <input type="submit" value="Send Message" class="btn btn-block">
    </form>
</div>
