<div class="container center">
    <div class="title-item">Contact Me</div>
    <div class="subtitle-item">Get in touch</div>

    <div class="info">
        <div class="contact" fxLayout="row" fxLayoutAlign="flex-start start">
            <mat-icon>call</mat-icon>
            <div class="right">
                <span class="large-title">Call me</span>
                <br>
                <span class="second">999 999 9</span>
            </div>
        </div>
        <div class="contact" fxLayout="row" fxLayoutAlign="flex-start start">
            <mat-icon>email</mat-icon>
            <div class="right">
                <span class="large-title">Email</span>
                <br>
                <span class="second">tianati01@gmail.com</span>
            </div>
        </div>
        <div class="contact" fxLayout="row" fxLayoutAlign="flex-start start">
            <mat-icon>location_on</mat-icon>
            <div class="right">
                <span class="large-title">Location</span>
                <br>
                <span class="second">Kyiv, Ukraine</span>
            </div>
        </div>
      
    </div>
    <app-add-contact (onAddContact)="addContact($event)"></app-add-contact>
</div>
