<div class="container">

    <!-- <div class="qualification">
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
    </div> -->

    <div class="education">
        <div class="title-item">Education</div>
        <div class="uni">
            Bachelor's, National University of "Kyiv-Mohyla Academy", Kyiv
        </div>
        <div class="subtitle-item">september 2018 - june 2022</div>
        <div class="specialty">Faculty of Computer Sciences, Applied Mathematics</div>
    </div>

    <div class="skills">
        <div class="title-item">My Skills</div>
        <ul>
            <li>
                <h3>HTML5</h3>
                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
            </li>
            <li>
                <h3>CSS3</h3>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            </li>
            <li>
                <h3>JQuery</h3>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            </li>
        </ul>
    </div>

    <div class="languages">
        <div class="title-item">Languages</div>
        <ul>
            <li>
                <h3>English</h3>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            </li>
            <li>
                <h3>Ukrainian</h3>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </li>
            <li>
                <h3>Russian</h3>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </li>
        </ul>
    </div>
</div>
