.skills{
    color:#fef5ef;
    text-align:center;
}
.skills ul{
    text-align:left;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #757BC8!important;
}

.qualification{
    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap:1.5rem;
}

.item{
    margin-bottom:20px;
}

.languages{
    margin-top:40px;
    text-align: center;
}
.languages ul{
    text-align: left;
}

.education{
    text-align:center;
    margin-bottom:40px;
}

.uni{
    margin-top:40px;
}

.specialty{
    color:#E0C3FC;
    font-weight:700;
    margin-top:-20px;
}