<div class="container">
    <div class="skills">
        <h1>My Skills</h1>
        <ul>
            <li>
                <h3>HTML5</h3>
                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
            </li>
            <li>
                <h3>CSS3</h3>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            </li>
            <li>
                <h3>JQuery</h3>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            </li>
        </ul>
    </div>
</div>
