<div class="container">

    <!-- <div class="qualification">
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
        <div class="item">Frotend</div>
    </div> -->

    <div class="education">
        <div class="title-item">Education</div>
        <div class="uni">
            Bachelor's, National University of "Kyiv-Mohyla Academy", Kyiv
        </div>
        <div class="subtitle-item">september 2018 - june 2022</div>
        <div class="specialty">Faculty of Computer Sciences, Applied Mathematics</div>
    </div>

    <div class="skills">
        <div class="title-item">My Skills</div>
        <ul>
            <li *ngFor="let skill of skills">
                <h3>{{skill.skill}}</h3>
                <mat-progress-bar mode="determinate" value=" {{skill.val}}"></mat-progress-bar>
            </li>
        </ul>
    </div>

    <div class="languages">
        <div class="title-item">Languages</div>
        <ul>
            <li *ngFor="let lang of languages">
                <h3>{{lang.lan}}</h3>
                <mat-progress-bar mode="determinate" value="{{lang.val}}"></mat-progress-bar>
            </li>
        </ul>
    </div>
</div>
