<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Your Name</label>
        <input type="text" name="text" [(ngModel)]="name" id="text" placeholder="Add Name" />
    </div>
    <div class="form-control">
        <label for="text">Your Email</label>
        <input type="text" name="text" [(ngModel)]="email" id="text" placeholder="Add Email" />
    </div>
    <!-- <div class="form-control">
        <label for="text">Your message</label>
        <input type="text" name="text" id="text" placeholder="Add Message" />
    </div> -->
    <div class="form-control">
        <label for="text">Your message</label>
        <p><textarea rows="10" cols="60" name="text" [(ngModel)]="message"></textarea></p>
    </div>
    <div fxLayoutAlign="center">
        <input id="submit" type="submit" value="Send Message" class="btn">
    </div>
</form>