@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.example-card{
    max-width:600px;
    background-color: transparent;
}
.card-title{
    font-family: "Lato", sans-serif!important;
    font-weight: 900;
    font-size:1.8em;
    color:#E0C3FC;
}
.cv-img{
    margin-top:20px;
}
.mat-card-image{
    max-width:200px;
    margin-left:20px;
}
.mat-card-image:first-child{
    margin-top:0px;
    border-radius: 5%;
}
.mat-card-content{
    max-width:200px;
    color:#fef5ef;
    font-family: "Poppins", sans-serif!important;
}
::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px!important;
  }

  #projects-container{
      max-width:600px;
      margin: 30px auto;
      text-align:center;
  }

  #contact-info{
    margin-top:40px;
  }

  .mat-icon{
    color:#E0C3FC;
  }
  #location{
      font-family: "Poppins", sans-serif!important;
      color:#E0C3FC;
      padding-top:-10px;
  }

  .btn-contact span{
    padding-right:5px;
  }
  .btn-contact{
      margin-top:10px;
      margin-left:-5px;
  }