<div class="container">
    <mat-card class="example-card" fxLayout="row">
        <div>
            <mat-card-header>
                <mat-card-title class="card-title">I am Tetiana,<br> front-end developer!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <p>
                  I am passionate about creating user-friendly and feature-rich websites,
                  providing efficient web solutions.
                </p>
            </mat-card-content>
        </div>
    
        <img mat-card-image src="../../../assets/img/cv_photo.jpg" alt="Photo of a Shiba Inu">
    
    </mat-card>
    
</div>

<div id="projects-container">
    <app-projects></app-projects>
</div>
